.ProductSection {
    margin: 100px auto;
margin-bottom: 0px;
height: auto;
width: 100%;
max-width: 1200px;
}

img { margin: auto; height: 100%; width: 100%;}

.ProdBanner { 
    margin: 0px auto;
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("./BG/Banner.png");
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.ProdBanner::before {
    content: "";
    position: absolute;
    left: 0px;
    top:0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
}

.frontBanner { position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 90%;
height: 70%;
background-color: rgba(0, 0, 0, 0.8);
text-align: center;
font-family: 'Poppins';
font-weight: bold;
color: #31ff66;
}

.frontBanner span { 
font-size: 120px;
}

.frontBanner div { font-size: 40px;
font-weight: lighter;
color: white;
}

.filter { margin: 50px auto;
margin-bottom: 0px;
width: 90%;
max-width: 700px;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.filter input { margin: auto; 
    line-height: 28px;
 border: 2px solid transparent;
 border-bottom-color: #31ff66;
 color: white;
 font-family: 'Poppins';
 font-size: 40px;
 text-align: center;
 padding: .2rem 0;
 outline: none;
 background-color: transparent;
 transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


   .filter input::placeholder {
    color: #777;
   }
   
   .filter input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   



.filterflex {
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.active { background-color: #31ff66;
    border: 2px solid #111111; 
    outline: 2px solid #31ff66;
box-shadow: 0px 0px 10px #31ff66;}

.button { 
    outline: none;
    background-color: white;}

.filterflex div {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    color:#111111;
}

.searchFor { color:white; font-family: 'Poppins'; font-weight: 400;}




/* PHONE */
@media (max-width: 600px) {
    .ProdBanner { height: 200px; }
}
