@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");

.FooterCon { margin-top: 50px;
margin-bottom: 0px;
width: 100%;
height: auto;
background-color: #19181a;
}


  
  .footer_inner {
    background: #19181a;
    border-radius: 5px;
    margin: 1rem 0;
    height: auto;
  }

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .mynewsletter {
    margin: auto;
    height: 300px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }



  .footer_copyright {
    color: white;
    font-family: 'Poppins';
    text-align: center;
    padding-bottom: 20px;
    text-align: center;
  }

  .footer_copyright div { 
    margin: auto;
    display: flex; justify-content: center;
    align-items: center; text-align: center;
    width: 220px;
  }

  .sol-icon { -webkit-animation: beat .25s infinite alternate;
    -moz-animation: beat .25s infinite alternate;
    -ms-animation: beat .25s infinite alternate;
    -o-animation: beat .25s infinite alternate;
    animation: beat .25s infinite alternate;
  margin: auto;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;}
  
  @keyframes beat{
    to {
       -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }
   
   }
   
   @-moz-keyframes beat {
    to {
      -moz-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   }
   
   @-webkit-keyframes beat{
    to {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   }
   
   @-ms-keyframes beat {
    to {
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   }
   
   @-o-keyframes beat {
    to {
      -o-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   } 