.ourteam { margin: 0px auto;
    margin-bottom: 0px;
    height: auto;
    width: 100%;
    max-width: 1200px;
    }

    

.teamflex { margin: 0px auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;}

.teams { margin: auto;
height: 400px; width: 45%;
animation: float 6s ease-in-out infinite;}

.teams img { margin: 0px; height: 100%; width: 100%; }

.whyChooseUs p { margin: auto;
    text-align: center;
color:white;
font-family: 'Poppins';
font-weight:200;
width: 50%;
}

.chooseFlex { margin: 50px auto; display: flex; width: 100%; height: auto;
flex-wrap: wrap; justify-content: center; align-items: center;}

.choose { margin: 0px auto; 
     height:300px; max-height: 300px;width: 24%;
    max-width: 300px; 
    position: relative;
    margin-bottom: 40px;
    background-color: #19181a;}

.vidCenter { margin: auto; height: 300px; max-height: 300px; width:100%; padding-bottom: 30px; }
.vidCenter video { margin: 20px auto; height: 100%; width:100%; 
   }

.vidTitle { position: absolute;
left: 0px;
bottom: 5px;
width: 100%;
height: 50px;
color:white;
padding-top:0px;
font-family: 'Poppins';
font-size: 20px;
text-align: center;}




@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}



.partners { width: 100%; height: auto; 
    display: flex;
    flex-direction: row;
}


.container {
    background: white;
    color: #636e72;
}
.header {
    height: 60px;
    background: #22264b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
.header .logo {
    text-transform: uppercase;
}
.nav ul li {
    display: inline-block;
    padding: 5px;
}
.nav ul li:last-child {
    padding-right: 0;
}
.nav ul li a {
    display: block;
    cursor: pointer;
}
.hero {
    height: 420px;
    background: #22264b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    background: #b56969;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.hero-button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.hero-button:hover {
    box-shadow: 0 4px #9d4e4e;
}
.hero-button:active {
    box-shadow: 0 0 #ab3c3c;
    -webkit-transform: translate3d(0, 2px, 0);
    -moz-transform: translate3d(0, 2px, 0);
}
@-webkit-keyframes slideleft {
    0% {
        background-position: 385000px;
   }
    100% {
        background-position: 0;
   }
}
@keyframes slideleft {
    0% {
        background-position: 385000px;
   }
    100% {
        background-position: 0;
   }
}
.partners-img-container {
    height: 100px;
    width: 100%;
    overflow: auto;
}
.partners-img-container::-webkit-scrollbar {
    width: 0 !important;
}
/* hide scrollbar in Chrome */
.partners-img-container {
    scrollbar-width: none;
}
/* hide scrollbar in mozilla */
.partners-img-container {
    -ms-overflow-style: none;
}
/* hide scrollbar in IE */
.partners-img-container .partners-img {
    height: 100%;
    width: 200%;
    background: transparent url("Partners.png") repeat-x 50% 0;
    -webkit-animation: slideleft 5000s linear infinite;
    animation: slideleft 5000s linear infinite;
    cursor: grab;
}

/* PHONE */
@media (max-width: 600px) {
    .teams{ height: 260px; width: 100%;}
    .choose { width: 90%;}
    .whyChooseUs p { width:90%; text-align: left;}
}