.BNCon { margin: 0px auto;
    margin-bottom: 0px;
    height: auto;
    width: 100%;
    max-width: 1200px;
    color: white
    }

.BNFlex { 
margin: 100px auto;
margin-bottom: 0px;
width: 80%;
height: auto;
background-color: #19181a;
display: flex;
flex-wrap: nowrap;
}

.BNLeft, .BNRight { margin: auto;
height: 560px;
padding: 10px;
position: relative;
width: 60%;
}

.BNRight { padding-top: 15px; width: 40%; background-color: aliceblue;}
.BNLeft div { max-width: 80%; margin: auto;  animation: floating 6s linear infinite;}



 .BNLeft div:first-child { margin-top: -20px; position: absolute;
    left: 10%; top:0px;} 

.BNRight .freeship{
    margin: 0px;
    padding: 1px 10px;
    width: 165px;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 20px;
    border-radius: 20px;
    color: white;
    background-color: #31ff77;
    box-shadow: 0px 0px 10px #31ff77;
}

.BNRight .getStateName{
    margin: 10px 0px;
    margin-left: -10px;
    margin-bottom: 0px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    padding: 1px 10px;
    width: 100%;
    font-weight: 700;
    font-family: 'Poppins';
    font-size: 40px;
    color: black;
}

.btnBuy { margin: 0px auto; margin-left: 17px; width: 92%; height: 50px; padding: 10px; text-align: center; background-color: #19181a;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins';
    border-radius: 10px;}

.thePrice { margin:-10px 0px;
    margin-bottom: 0px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    color: #111111;}

    .thePrice span:nth-child(1) {font-size: 20px;
        color: #111111;
    font-weight: 400;
    padding-top: 10px;
font-family: 'Poppins'; }

.thePrice .sizes { 
margin: 10px 0px;
margin-bottom:25px;
display: flex;
flex-wrap: nowrap;
height: 30px;
max-width: 250px;}

.thePrice .sizes div { 
margin: auto 5px; height: 35px; width: 35px; background-color: #31ff77;
border-radius: 10px;
font-size: 20px;
cursor: pointer;
padding-top: 3px;
font-family: 'Poppins';
font-weight: 700;
color: white;
text-align: center;}

.Myactive { border: 2px solid #111111; 
    color: #111111;}

.BNRight p { margin-top: 0px; font-size: 17px;
font-weight: 100; font-family: 'Inter';
margin-bottom: 30px;
font-weight: 400;
color:grey;
overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;}

img { margin: 0px; height: 100%; width: 100%;}

.BNLeft div { margin: auto;
height: 100%;
position: sticky;
width: 100%; }


.BNLeft div:nth-child(2){
    margin: -20px auto;
    height: 300px;
    width:80%;
    animation: floating 6s linear infinite;
}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


.BTNFlex { margin: 5px auto;
margin-left: -3px;
display: flex;
color: black;
height: auto;
width: 100%;
}

.BTNFlex div { margin: auto; width: 50%;}
.BTNFlex div:nth-child(1){
    padding: 10px;
    width: 40%;
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
}

.BTNFlex div:nth-child(1) span {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins';
}

.BTNFlex div:nth-child(1) button { border: none; padding: 5px; 
    background-color: #31ff77;
    border-radius: 10%;
    height: 35px;
    width: 30px;
    font-weight: 800;
    }

.BTNFlex div:nth-child(2){
    padding: 10px;
    background-color: #31ff77;  
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
}